.head{
    height:600px;
    Width:100%;

    text-align: center;
    position: relative;
}
.todo-field{
     background-color: rgba(27, 112, 137, 1);
  border: 0; 
  color: #fff;
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
.submit-button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color:rgba(202, 156, 24, 1); 
    cursor: pointer;
}
